<md-sidenav flex class="md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-tall md-hue-2 profile">
            <span flex></span>
            <div layout="column" class="md-toolbar-tools-bottom inset">
                <img src="img/1.jpg" class="user-avatar">
                <span></span>
                <div>Firstname Lastname</div>
                <div>email@domainname.com</div>
            </div>
        </md-toolbar>
        <md-list>
            <!--<md-divider></md-divider>-->
            <md-subheader>Explore</md-subheader>
            <md-list-item ng-repeat="item in menu " class="menu-pointer">
                <p md-ink-ripple><i class="mdi {{item.icon}}"></i> {{ item.title }} </p>
                <!--<md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>-->
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader>Management</md-subheader>
            <md-list-item ng-repeat="item in admin" class="menu-pointer">
                <p md-ink-ripple><i class="mdi {{item.icon}}"></i> {{ item.title }} </p>
                <!--<md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>-->
            </md-list-item>
        </md-list>
</md-sidenav>
<md-button class="md-fab md-fab-bottom-right btn-top" aria-label="Add" ng-click="showAdd($event)">
    <i class="mdi mdi-plus"></i>
</md-button>
<section flex layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button btn-top" aria-label="Menu"
                    data-ng-click="toggleSidenav('left')">
                <i class="mdi mdi-menu"></i>
            </md-button>
            <h3>Address Book</h3>
            <span flex></span>
            <md-button class="md-icon-button btn-top" aria-label="More">
                <i class="mdi mdi-dots-vertical"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex class="md-padding" layout="row">
        <!--<ui-view name="content" layout-padding flex> this is a long text of what i can do</ui-view>-->
        <!--<md-card flex-gt-sm="90" flex-gt-md="80">-->
            <!--<md-card-content>-->
                <!--<h2>Activity</h2>-->

            <!--</md-card-content>-->
        <!--</md-card>-->
        <md-list flex-gt-sm="90" flex-gt-md="80">
            <md-item ng-repeat="item in activity | filter:search">
                <md-item-content>
                    <div class="md-tile-left inset" hide-sm>
                        <!--<user-avatar></user-avatar>-->
                        <img src="img/1.jpg" class="user-avatar">
                    </div>
                    <div class="md-tile-content">
                        <h3>{{item.what}}</h3>
                        <h4>{{item.who}}</h4>
                        <p>
                            {{item.notes}}
                        </p>
                    </div>
                </md-item-content>
                <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                <md-divider hide-gt-sm ng-if="!$last"></md-divider>
            </md-item>
            <md-divider></md-divider>
            <md-item layout class="inset">
                <md-button layout layout-align="start center" flex class="md-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg> More
                </md-button>
            </md-item>
        </md-list>
        <md-list flex-gt-sm="10" flex-gt-md="20">
            <md-item ng-repeat="item in activity | filter:search">
                <md-item-content>
                    <div class="md-tile-left inset" hide-sm>
                        <!--<user-avatar></user-avatar>-->
                        <img src="img/1.jpg" class="user-avatar">
                    </div>
                    <!--<div class="md-tile-content">-->
                        <!--<h3>{{item.what}}</h3>-->
                        <!--<h4>{{item.who}}</h4>-->
                        <!--<p>-->
                            <!--{{item.notes}}-->
                        <!--</p>-->
                    <!--</div>-->
                </md-item-content>
                <!--<md-divider md-inset hide-sm ng-if="!$last"></md-divider>-->
                <!--<md-divider hide-gt-sm ng-if="!$last"></md-divider>-->
            </md-item>
            <!--<md-divider></md-divider>-->
            <!--<md-item layout class="inset">-->
                <!--<md-button layout layout-align="start center" flex class="md-primary">-->
                    <!--<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg> More-->
                <!--</md-button>-->
            <!--</md-item>-->
        </md-list>
    </md-content>
</section>